.image {
    height: auto;
    width: 100%; 
    max-width: 500px; 
    border-radius: 10px; 
}
body, input, textarea, a{
    font-family:'Times New Roman';
}
h1{
    color: aliceblue;
}

.option{
    width: 35%;
    height: 551px;
    padding: 40px;
    float: left;
    display: block;
    border-radius: 30px 0px 0px 30px;
    background: linear-gradient(144deg, rgb(40, 236, 30) 0%, rgb(67, 49, 38) 100%);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);    color: aliceblue;
    list-style: none;
    margin: 10px;
   
}
li a {
    color: white;
    text-decoration: none;
    font-size: 10px;
}
.textarea-left {
    text-align: left; 
}

li span {
    color: white;
}
.form{
    border: 1px green;
    height: 570px;
    text-align: top;
    padding: 20px 25px 35px 25px;
    border-radius: 0px 30px 30px 0px;
    background-color: aliceblue;
    

}
.formtitle{
    color:rgb(30, 200, 14);
    font: 25px sans-serif;
    text-align: center;
}
.form-field textarea{
    border: none;
    outline: none;
    background-color: none;
    font-size: 18px;
    color: #555;
    padding: 20px 10px 20px5px;
    width: 100px;
    height: 150px;
    resize: none;
}
.form-group {
    width: 100%; 
    padding: 10px 0; 
    margin: 14px 0; 
    border-radius: 25px;
    background-color: #f0f0f0;
    box-shadow: 
        inset 0px 4px 8px rgba(0, 0, 0, 0.2),
        inset 0px -2px 4px rgba(255, 255, 255, 0.5); 
    transition: transform 0.3s, box-shadow 0.3s; 
}


.form-field {
    display: flex;
    flex-direction: column; 
}


.submit-button {
    margin-top: 20px; 
    width: 100%; 
    padding: 10px; 
    background-color: aliceblue; 
    border: none; 
    border-radius: 25px; 
    cursor: pointer; 
}
.form-field.form-group:last-child{
    width:96% ;
}
.submit-button {
    padding: 0px 0px 0px 25px;
    margin: 0px;
    margin-bottom: 10px;
    text-align: center; 
    background-color: aliceblue;
}
@media only screen and (max-width:767px){
    .form-wrapper{
        border-radius: 0px 0px 30px 30px;
    }
    .form-group{
        width: 100%;
        float:none;
        margin: 25px 0px;
    }
    .form-field.form-group:last-child,
  :root{
    --color-primary: #0B3D2E;
    --color-secondary: #F4D35E;
    --color-black: #333333;
    --color-white: white;
    --color-5: #DAA520;
    --color-6: #00796B;
    --color-7: #004D40;
}}